
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<title>Insert</title>

</head>
    <br>
    <h1 style="padding-left:20px">Details</h1>
  <div >
   <div >
    <div >

      <div style="padding: 15px">
        <form action="http://localhost:8080/add_user" method = 'POST'>
          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">

            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Username" required name="username">
            </div>
              <div class="w3-half">
              <input class="w3-input w3-border" type="password" placeholder="Password" required name="password">
            </div>

          </div><br>
            <input class="w3-input w3-border" type="text" placeholder="Name" required name="full_name"><br>
            <input class="w3-input w3-border" type="text" placeholder="Email" required name="email"><br>
            <div class="w3-half">
                <label for="gender">Gender</label>
            </div>
            <div class="w3-half">
                <select class="w3-select" id="gender" name="gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div><br>
            <br><input class="w3-input w3-border" type="number" placeholder="Age" required name="age"><br>
            <div class="w3-half">
                <label for="sport">Sport</label>
            </div>
            <div class="w3-half">
                <select class="w3-select" id="sport" name="sport">
                    <option value="cricket">Cricket</option>
                    <option value="football">Football</option>
                    <option value="badminton">Badminton</option>
                </select>
            </div>
            <button class="w3-button w3-red w3-section w3-centre" type="submit">REGISTER</button><br>
        </form>

    </div>
  </div>
</div>
</div>
{% if error %}
    <p class="error"><strong>Error:</strong> {{ error }} </p>
{% endif %}
{% if message %}
    <p class="message"> {{ message }} </p>
{% endif %}

</html>
